In [1]:
#l even num
numbers=(2,21)

In [2]:
for num in range(2,21,2):
    print(num)

2
4
6
8
10
12
14
16
18
20

In [3]:
#names in uppercase
names=('sadia','ayesha','ishmal','hiba')

In [4]:
for name in names:
    print(name.upper())

SADIA
AYESHA
ISHMAL
HIBA

In [5]:
#reverse num order
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#numbers divided by 3
numbers=(2,3,4,5,6,7,8,9,12,13,15,16,18,19,21,24,25,27,29,30)
for num in numbers:
    if num % 3 == 0:
     print(num)

3
6
9
12
15
18
21
24
27
30

In [7]:
#square of 1 to 10
for e in range(1, 11):
    print(e**2)

1
4
9
16
25
36
49
64
81
100

In [8]:
#temperature in fahrenhite
celsius = [0, 10, 20, 30, 40] 
fahrenheit = []

for  temperature in celsius:
    converted_temperature=(temperature* 9/5) + 32
    print(converted_temperature)

32.0
50.0
68.0
86.0
104.0

In [9]:
#table of 5
for i in range(1, 11):
    print(f"5 * {i} = {5 * i}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [10]:
# Example list of numbers
numbers = [1, 2, 3, 4, 5]  
total_sum = 0

for num in numbers:
    total_sum += num

print("The sum of all numbers in the list is:", total_sum)

The sum of all numbers in the list is: 15

In [11]:
#separate character
text = "Hello, World!"

for char in text:
    print(char)

H
e
l
l
o
,

W
o
r
l
d
!

In [12]:
#words with more than 5 characters
words = ["apple", "banana", "grape", "strawberry", "kiwi", "orange"]

for word in words:
    if len(word) > 5:
        print(word)

banana
strawberry
orange